.customers {
  padding-top: 70px;
  padding-bottom: 94px;
}

.customers__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  text-align: center;
}

.customers-list {
  display: flex;
  justify-content: center;
  padding-left: 0;
  gap: 30px;
}

.customers-list__item {
  width: 170px;
  height: 92px;
}

.customers-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 32px;
  fill: var(--social-icon-color);
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition-property: fill, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: var(--accent-color);
    border-color: var(--accent-color);
  }
}

// .customers-list__link:hover,
// .customers-list__link:focus {
//   fill: var(--accent-color);
//   border-color: var(--accent-color);
// }
