/* Work */
.work {
  padding-bottom: 94px;
}

.work__title {
  display: block;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  text-align: center;
}

.work-list {
  display: flex;
  padding-left: 0;
  gap: 30px;
}

.work-list__item {
  position: relative;
  max-width: 370px;
  gap: 30px;
}

.work-list__name {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color-white);
  background: rgba(47, 48, 58, 0.8);
}
